.ipynb_checkpoints
notebooks/datasets
__pycache__
*.npy
*.pyc
code/code.sublime-*
code/data/*.bin
code/tmp/
other/unused
.idea/
.cache/

# Latex files
thesis/test/
thesis/*.pdf
thesis/*.xml
thesis/main.synctex.gz
*.fmt
*.bbl
*.blg
*.bcf
*.log
*.aux
*.toc
*.out