# for i in $(cat requirements.txt | grep -v -e '^#$' | grep -v -e '^#' | cut -d '=' -f1); do pip freeze | grep $i; done

bokeh==0.12.6
bs4==0.0.1
gensim==2.3.0
joblib==0.11
matplotlib==2.0.2
networkx==1.11
nltk==3.2.4
msgpack-numpy==0.4.1
numpy==1.13.3
numpydoc==0.7.0
pandas==0.20.3
scipy==0.19.1
spacy==2.0.2
sympy==1.1
pytest==3.2.2
sklearn==0.0
statsmodels==0.8.0
deepwalk==1.0.2

flamegraph
gitpython
configargparse
